ExemploWS/WebContent/wsdl/EstoqueBasico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://estoque.fiap.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://estoque.fiap.com.br" xmlns:intf="http://estoque.fiap.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://estoque.fiap.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="soma">
    <complexType>
     <sequence>
      <element name="nr1" type="xsd:int"/>
      <element name="nr2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element> 
   <element name="somaResponse">
    <complexType>
     <sequence>
      <element name="somaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="somaRequest">

      <wsdl:part element="impl:soma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaResponse">

      <wsdl:part element="impl:somaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EstoqueBasico">

      <wsdl:operation name="soma">

         <wsdl:input message="impl:somaRequest" name="somaRequest">

       </wsdl:input>

         <wsdl:output message="impl:somaResponse" name="somaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EstoqueBasicoSoapBinding" type="impl:EstoqueBasico">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="soma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="somaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="somaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EstoqueBasicoService">

      <wsdl:port binding="impl:EstoqueBasicoSoapBinding" name="EstoqueBasico">

         <wsdlsoap:address location="http://localhost:8080/ExemploWS/services/EstoqueBasico"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
